.bus_manager .add_button {
    background-color: #0d6efd;
    color: white;
    float: right;
    margin: 10px 20px;
}

.bus_manager .list {
    width: 100%;
    height: fit-content !important;
    /* overflow: hidden; */
    /* min-height: 50vh; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.bus_manager .list_item {
    border-radius: 15px !important;
}

/* .bus_manager .registration {
    display: flex !important;
    justify-content: space-between !important;
} */


.card-container .card-body {
    /* height: 650px; */
    width: 100%;
}

.update-dropdown-item:hover {
    color: white;
    background-color: #fca130;

}

.disable-enable-dropdown-item:hover {
    background-color: #50e3c2;
    color: white;

}

.delete-dropdown-item:hover {
    background-color: #f93e3e;
    color: white;

}

.detail-dropdown-item:hover {
    background-color: #61affe;
    color: white;

}
.driver-img {
    border: 1px solid black;
    width: 50px;
    height: 66.666px;
}
.status {
    color: #707070; /* Default color for INACTIVE status */
  }
  
  .status.active {
    color: #24a148; /* Color for ACTIVE status */
  }

  .status.inactive {
    color: #F5365C; /* Color for INACTIVE status */
  }
  