.bus_manager .add_button {
    background-color: #0d6efd;
    color: white;
    float: right;
    margin: 10px 20px;
}

.bus_manager .list {
    width: 100%;
    height: fit-content !important;
    /* overflow: hidden; */
    /* min-height: 50vh; */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.bus_manager .list_item {
    border-radius: 15px !important;
}

.bus_manager .registration {
    display: flex !important;
    justify-content: space-between !important;
}


.card-container .card-body {
    height: 450px;
    width: 100%;
}